<div class="hero-unit">
	<h1>Welcome to Pinstruments.com</h1>
	<p>This is a place to show off and share your favorite instruments with other musicians, collectors and equipment geeks. Have fun!</p>

	<p>
	<%= link_to "The Perfect Fuel", "http://www.theperfectfuel.com", class: "btn btn-primary btn-large" %>
	</p>
</div>